@{
    ViewData["Title"] = "Müşteriler";
}

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Müşteri Listesi</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ad Soyad / Şirket Adı</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">E-Posta</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Bireysel / Kurumsal</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Durumu</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kayıt Tarihi</th>
                                <th class="text-center text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <span class="text-xs font-weight-bold mb-0">John Michael</span>
                                </td>
                                <td class="text-center">
                                    <span class="text-xs font-weight-bold mb-0"><a href="mailto:john@creative-tim.com" target="_blank">john@creative-tim.com</a></span>
                                </td>
                                <td class="text-center">
                                    <span class="text-xs font-weight-bold">Bireysel</span>
                                </td>
                                <td class="align-middletext-sm text-center">
                                    <span class="badge badge-sm bg-gradient-success">Aktif</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">27.01.2022 10:30</span>
                                </td>
                                <td class="align-middle text-center">
                                    <a href="javascript:;" class="text-info font-weight-bold text-xs me-2">
                                        Düzenle
                                    </a>
                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs me-2">
                                        Detay
                                    </a>
                                    <a href="javascript:;" class="text-danger font-weight-bold text-xs me-2">
                                        Sil
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <span class="text-xs font-weight-bold mb-0">John Michael</span>
                                </td>
                                <td class="text-center">
                                    <span class="text-xs font-weight-bold mb-0">john@creative-tim.com</span>
                                </td>
                                <td class="text-center">
                                    <span class="text-xs font-weight-bold">Bireysel</span>
                                </td>
                                <td class="align-middletext-sm text-center">
                                    <span class="badge badge-sm bg-gradient-secondary">Pasif</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">27.01.2022 10:30</span>
                                </td>
                                <td class="align-middle text-center">
                                    <a href="javascript:;" class="text-info font-weight-bold text-xs me-2">
                                        Düzenle
                                    </a>
                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs me-2">
                                        Detay
                                    </a>
                                    <a href="javascript:;" class="text-danger font-weight-bold text-xs me-2">
                                        Sil
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <span class="text-xs font-weight-bold mb-0">John Michael</span>
                                </td>
                                <td class="text-center">
                                    <span class="text-xs font-weight-bold mb-0">john@creative-tim.com</span>
                                </td>
                                <td class="text-center">
                                    <span class="text-xs font-weight-bold">Bireysel</span>
                                </td>
                                <td class="align-middletext-sm text-center">
                                    <span class="badge badge-sm bg-gradient-success">Aktif</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">27.01.2022 10:30</span>
                                </td>
                                <td class="align-middle text-center">
                                    <a href="javascript:;" class="text-info font-weight-bold text-xs me-2">
                                        Düzenle
                                    </a>
                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs me-2">
                                        Detay
                                    </a>
                                    <a href="javascript:;" class="text-danger font-weight-bold text-xs me-2">
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>